:root {
  --white: hsl(0deg 0% 100%);
  --blue: hsl(219deg 100% 50%);
  --light-blue: hsl(219deg 100% 89%);
  --grey: hsl(210deg 3% 73%);
  --dark-grey: hsl(0deg 1% 27%);
  --light-grey: hsl(220deg 38% 97%);
}
