.module {
  width: 100%;
  overflow-x: auto;
}

.headers {
  .row {
    border-bottom: 1px solid var(--grey);
  }
}

.body {
  .row {
    &:not(:last-child) {
      border-bottom: 1px solid var(--grey);
    }
  }
}

.header {
  font-weight: 400;
  text-align: start;
}

.quantity {
  text-align: end;
}

.header,
.category,
.quantity {
  padding: 1rem;
}
