@use '@/styles/mixins' as *;

.module {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;

  @include media(md) {
    font-size: 2rem;
    font-weight: 600;
    text-align: start;
  }
}
